* {
    box-sizing: border-box;
}

.lim-width {
    margin: 0 auto;
    max-width: 1000px;
}

nav {
    width: 100%;
    display: flex;
    padding: 10px;
}

nav a {
    display: flex;
}

nav ul {
    display: inline-block;
    margin: 0 0 0 auto;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li:last-child {
    margin-right: 0;
}

img {
    width: 100%;
}